html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font: 1em/1.4em sans-serif;
  background-color: rgb(218, 218, 218);
}

.animation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 90%;
}

.block {
  background: url(img/silhouette.jpg);
  background-size: cover;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 10px;
}

.block_1 {
  background: url(img/corn-fields.jpg);
  background-size: cover;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 10px;
  display: none;
}

.circle,
.circle-1 {
  background: url(img/creative-cloud.svg);
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  color: #fff;
  line-height: 200px;
  text-align: center;
  border-radius: 50%;
  font-size: 1.1em;
  text-shadow: 1px 1px 1px #111;
  position: relative;
}

.circle,
.circle-1 span {
  position: relative;
  z-index: 2;
}

.circle::after,
.circle-1::after {
  content: "";
  width: 202px;
  height: 202px;
  background: url(img/beats-pill.svg);
  background-size: cover;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 1;
  transition: 0.5s width, 0.5s height, 0.5s top, 0.5s left;
}

.circle:hover::after,
.circle-1:hover::after {
  width: 0;
  height: 0;
  left: 100px;
  top: 100px;
  /* filter: blur(20px);
  -webkit-filter: blur(20px); */

  box-shadow: 0 0 20px 20px #3d3d3d inset;
}

.circle-1 {
  background: url(img/2.svg);
  background-size: cover;
}

.circle-1::after {
  background: url(img/1.svg);
  background-size: cover;
}

.text {
  color: rgb(0, 0, 0);
  font-size: 0.85em;
  text-align: justify;
}

h3 {
  font-weight: 700;
  text-align: center;
}

.button {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.show {
  width: 80px;
  height: 30px;
  border-radius: 20px;
  border: 2px solid rgb(0, 140, 255);
  background-color: #fff;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s linear, color 0.2s linear,
    border 0.2s linear;
}

.show:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.hide {
  margin-left: 10px;
  width: 80px;
  height: 30px;
  border-radius: 20px;
  border: 2px solid rgb(0, 140, 255);
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-weight: 700;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s linear, color 0.2s linear,
    border 0.2s linear;
}

.hide:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
